* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-color: rgb(180, 180, 234);
  height: 100vh;
  padding: 30px;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container {
  height: 20px;
  width: 200px;
  margin-right: 15px;
}

.search-btn {
  background-color: orange;
  border: none;
  cursor: pointer;
  height: 20px;
  padding: 0px 15px 0px 15px;
  font-size: 10px;
}

@media all and (min-width: 768px) {
  .input-container {
    height: 40px;
    width: 320px;
  }

  .search-btn {
    height: 40px;
    font-size: 15px;
  }
}
